# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info
crash.log
crash.*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
.python-version

# OS & Logs
.DS_Store
*.log
/tmp/
*.local
